.lista{
text-align: center;
margin-top: 5rem;
font-size: 100px;
}

.input{
margin-left: 32rem;
margin-top: 1rem;
margin-right: 1rem;
}


.li{
text-align: center;
margin-top: 1rem;

}

ul {
max-width: 195px;
margin: 0 auto;
}

.p{
text-align: center;
font-size: 30px;
}


